doctype html
html
  head
    title Terimakasih
    style.
      .content {
        max-width: 500px;
        margin: auto;
        border: 1px solid #e9e9e9;
        border-radius: 20px;
        padding: 30px;
        text-align: center;
      }
      
      #progressBar {
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -ms-transition: width 0.5s;
        -o-transition: width 0.5s;
        transition: width 2s;         
      }

      #btn {
        border-radius: 10px;
        border: 1px solid #e9e9e9;
        padding: 16px;
        margin-top: 30px;
        cursor: pointer;
      }
  body
    .content
      img(src='https://app.icademy.id/newasset/logo-horizontal.svg')
      p(style="font-family: arial; margin: 50px;") Terimakasih atas konfirmasinya yaa...
      p#nomor 5
      progress#progressBar(value="0" max="5")
      br
      button#btn(onClick="onClickTutup();") Tutup

    script.
      var timeleft = 5;
      var downloadTimer = setInterval(function(){
        if(timeleft <= 0){
          clearInterval(downloadTimer);
          onClickTutup();
        }
        document.getElementById("progressBar").value = 5 - timeleft;
        timeleft -= 1;
        document.getElementById("nomor").innerHTML = timeleft + 1;
        console.log('TIME: ', timeleft)
      }, 1000);

      function onClickTutup() {
        window.opener = self;
        window.close();
      }
